body{
    background-color: #6B969D;
    margin: 0px;
}

.cabeza{
    background-color: #ECEAE3;
    text-align: center;
    align-items: center;
    margin: 0px;
    width: 100%;
    display: flex;
    padding: 5 50px;
    justify-content: space-between;
    height: 80px;
}
.cabeza h1{
    text-transform: uppercase;
    font-weight: bolder;}
header img{
    width: 60px;
    height: 60px;
	margin-right: 40px;
}
.dropdown {
    position: relative;
}
.counter {
    position:absolute;
    top: 10px;
    right: 30px;
    color: black;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #2A2F3C;
    color: #ECEAE3;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
}
header *{
    display: inline;

}
header h1{
    padding-left: 20%;
    padding-right: 20%;
}
.cuerpo{
    padding: 30px;
    border-radius: 20px;
    width: 87%;
    background-color: #BAC0C3;
    margin: 50px;
    height: 820px;

}
.producto{
    background-color: #ECEAE3;
    width: 210px;
    height: 280px;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.producto button{
    background-color: #2A2F3C;
    border-radius: 20px;
    width: 135px;
    height: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.producto p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2A2F3C;
}

footer{
    display: block;
}
.contenido-footer{
    background-color: #ECEAE3;
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.dropdown-content{
    display: none;
    transform: translateX(-200px);

    position: absolute;
    background-color: #ECEAE3;
    width: 320px;
    min-height: 400px;
    max-height: 800px;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
    border-radius: 20px;
}
.dropdown{
    position: relative;
    display: inline-block;

}
#carrito-img{
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 2px;
    cursor: pointer; /*cuando se pasa el moouse por encima se cambia a la mano*/

}
.dropdown-content ul{
    display: block;
    display: grid;
    grid-template-rows: 50px;
    margin-bottom: 30px;
    text-align: center;
    justify-content: center;
    align-content: center;


}
.dropdown-content ul img{
    width: 60px;

}


.dropdown:hover .dropdown-content{
    display: block;
}
#button-comprar{
    background-color: #2A2F3C;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-15px);
    
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}
button:hover{
    cursor: pointer;
}
#logo-header{
    width: 60px;
    height: 60px;
    vertical-align:bottom;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-left: 20px;
}
#logo-footer{
    width: 109px;
    height: 109px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}
footer .grupo-1{
    background-color: #6B969D;
    padding: 8px;
    text-align: center;
    color: black;
}
